h2 {
    padding-left: 10%;
}

.mat-form-field {
    padding-left: 10%;
}


.table{
    width: 100%;
    // margin: 15% auto;
}

.data-table {
    width: 70%;
    margin-left: 10%;
}

button {
    background-color: transparent;
    box-shadow: none;
}

.w-25 {
    width: 25px;
}
td{
  padding-right: 10px;
}
.mat-cell{
    font-size:14px;
    font-family: Verdana,Sans-Serif;
}

.centralize {
    text-align: center;
}

.button-table {
  padding-left: 10%;
  padding-top: 20px;
}

.mat-flat-button {
  transition: transform .4s;
}

.mat-flat-button:hover {
  transform: scale(1.1);
}

.mat-raised-button {
  background-color: #FFD700;
  color: #000;
  margin-left: 15%;
  margin-top: 3%;
}

.gray-element{
  color: gray;
}
