<h3>Aulas Cadastradas por Instrutor</h3>

<div class="mat-elevation-z8 data-table" *ngIf="this.instructor.type == 'Teórico' || this.instructor.type == 'Ambos'">
    <h4>{{this.instructor.name}} - Aulas Teóricas</h4>

    <table mat-table matSort class="table" [dataSource]="dataSourceT">
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let instructorClass" class="gray-element"> {{instructorClass.count}}
        </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Data </th>
        <td mat-cell *matCellDef="let instructorClass" class="gray-element"> {{instructorClass.date  | date: 'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef> Check </th>
        <td mat-cell *matCellDef="let instructorClass">
          <mat-checkbox [checked]="instructorClass.check" (change)="this.changeCheck(instructorClass)"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Excluir Aula </th>
        <td mat-cell *matCellDef="let instructorClass">
          <mat-checkbox (change)="this.addDeleteItems(instructorClass)"></mat-checkbox>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <h5>Total de Aulas: {{this.tSum}}</h5>
</div>

<div class="mat-elevation-z8 data-table" *ngIf="this.instructor.type == 'Prático' || this.instructor.type == 'Ambos'">
  <h4>{{this.instructor.name}} - Aulas Práticas</h4>

  <table mat-table matSort class="table" [dataSource]="dataSourceP">
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Quantidade </th>
      <td mat-cell *matCellDef="let instructorClass" class="gray-element"> {{instructorClass.count}}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
      <td mat-cell *matCellDef="let instructorClass" class="gray-element"> {{instructorClass.date | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="check">
      <th mat-header-cell *matHeaderCellDef> Check </th>
      <td mat-cell *matCellDef="let instructorClass">
        <mat-checkbox [checked]="instructorClass.check" (change)="this.changeCheck(instructorClass)"></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Excluir Aula </th>
      <td mat-cell *matCellDef="let instructorClass">
        <mat-checkbox (change)="this.addDeleteItems(instructorClass)"></mat-checkbox>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <h5>Total de Aulas: {{this.pSum}}</h5>
</div>

<div class="button-table">
  <table>
    <tr>
      <td>
        <div>
          <button mat-flat-button style="background-color: #FFD700;" type="submit" (click)="openDialog(this.instructor)" class="button">Adicionar nova aula</button>
        </div>
      </td>
      <td>
        <div>
          <button mat-flat-button style="background-color: #FFD700;" type="submit" (click)="updateCheck()" class="button">Atualizar checks</button>
        </div>
      </td>
      <td>
        <div>
          <button mat-flat-button color="warn" type="submit" (click)="openDeleteDialog(this.deleteItems)" class="button">Excluir Aulas</button>
        </div>
      </td>
    </tr>
  </table>
</div>




