h2 {
    padding-left: 10%;
}

.mat-form-field {
    padding-left: 10%;
}

a {
  padding-left: 10%;
  font-size: 12px;
}
.table{
    width: 100%;
    margin-top: 10px;
}

.data-table {
    width: 40%;
    margin-left: 10%;
}

.w-25 {
    width: 25px;
}

.mat-raised-button {
    background-color: #FFD700;
    color: #000;
    margin-left: 10%;
    margin-top: 2%;
}
