<div>
    <h2>Turmas</h2>
    <div class="mat-elevation-z8 data-table">
        <table mat-table matSort class="table" [dataSource]="dataSource">
            <ng-container matColumnDef="N°">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
                <td mat-cell *matCellDef="let classes"> {{classes.seq}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                <td mat-cell *matCellDef="let classes"> {{classes.name}} </td>
            </ng-container>

            <ng-container matColumnDef="shift">
                <th mat-header-cell *matHeaderCellDef> Turno </th>
                <td mat-cell *matCellDef="let classes"> {{classes.shift}} </td>
            </ng-container>

            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef> Atualizar Dados </th>
                <td mat-cell *matCellDef="let classes">
                   <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Excluir Turma </th>
              <td mat-cell *matCellDef="let classes">
                <button mat-icon-button (click)="openDeleteDialog(classes)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>

    <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" (click)="openDialog(classes)">Adicionar Turma</button>
    </div>
</div>


