<div class="card">
    <mat-card class='card-header'>
        <h4>Administração de Instrutores</h4>
    </mat-card>

    <div class="content">
        <form [formGroup]="formInstructor" class="my-form">
            <mat-form-field appearance="legacy" class="col-lg-5">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="formInstructor.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="col-lg-5">
                <mat-label>CPF</mat-label>
                <input matInput formControlName="cpf" required>
                <mat-error *ngIf="formInstructor.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="col-lg-5">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="type">
                    <mat-option value="one">Prático</mat-option>
                    <mat-option value="two">Teórico</mat-option>
                    <mat-option value="three">Ambos</mat-option>
                </mat-select>
                <mat-error *ngIf="formInstructor.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="col-lg-5">
                <mat-label>Cidade</mat-label>
                <mat-select formControlName="city">
                    <mat-option value="one">Viçosa</mat-option>
                    <mat-option value="two">Maribondo</mat-option>
                    <mat-option value="three">Atalaia</mat-option>
                </mat-select>
                <mat-error *ngIf="formInstructor.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </form>
    </div>

</div>

<div class="form-element">
    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="disabledButton()">Salvar</button>
</div>