h2 {
  padding-left: 10%;
}

a {
  padding-left: 10%;
  font-size: 12px;
}

.mat-form-field {
  padding-left: 10%;
}


.table{
  margin-top: 10px;
  width: 100%;
}

.data-table {
  width: 50%;
  margin-left: 10%;
}

button {
  background-color: transparent;
  box-shadow: none;
}
.mat-flat-button {
  background-color: #FFD700;
  color: #000;
  margin-left: 10%;
  margin-top: 2%;
  transition: transform .4s;
}
.mat-flat-button:hover {
  transform: scale(1.1);
}

.gray-element{
  color: gray;
}
