h2 {
  padding-left: 10%;
}

.mat-form-field {
  padding-left: 10%;
}

.table{
  width: 100%;
  // margin: 15% auto;
}

.data-table {
  width: 60%;
  margin-left: 10%;
}

.mat-flat-button {
  background-color: #FFD700;
  color: #000;
  margin-left: 10%;
  margin-top: 2%;
  transition: transform .4s;
}
.mat-flat-button:hover {
  transform: scale(1.1);
}
.gray-element{
  color: gray;
}
