<mat-toolbar color="accent">
    <img src="././assets/logo.svg" class="logo">
    <span style="flex: 1 1 auto;"></span>
    <div>
        <mat-card-title class="logout">Sair</mat-card-title>
        <button mat-icon-button (click)="this.logout()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container style="height: calc(100% - 64px); margin: 0;">
    <mat-sidenav #sidenav mode="side" opened [disableClose]="true" [class.mat-elevation-z4]="true" style="width: 240px">
        <mat-nav-list dense>
            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>
                    Prático
                </mat-expansion-panel-header>
                <mat-nav-list dense>
                    <a mat-list-item routerLink="#">
                        Alunos
                    </a>
                    <a mat-list-item routerLink="#">
                        Tabela Prática
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>

          <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
            <mat-expansion-panel-header>
              Multas
            </mat-expansion-panel-header>
            <mat-nav-list dense>
              <a mat-list-item routerLink="/home/multas">
                Todas as multas
              </a>
            </mat-nav-list>
          </mat-expansion-panel>

            <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
                <mat-expansion-panel-header>
                    Instrutores
                </mat-expansion-panel-header>
                <mat-nav-list dense *ngFor="let instructor of this.instructors">
                      <a mat-list-item [routerLink]="['/home/instrutor', instructor.id]">
                          {{instructor.name}}
                      </a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
                <mat-expansion-panel-header>
                    Turmas
                </mat-expansion-panel-header>
                <mat-nav-list dense *ngFor="let classes of this.classes">
                    <a mat-list-item [routerLink]="['/home/turma', classes.id]">
                        {{classes.name}}
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
                <mat-expansion-panel-header>
                    Administração
                </mat-expansion-panel-header>
                <mat-nav-list dense>
                    <a mat-list-item routerLink="/home/admin-alunos">Alunos</a>
                    <a mat-list-item routerLink="/home/admin-instrutor">Instrutor</a>
                    <a mat-list-item routerLink="/home/admin-funcionarios">Funcionários</a>
                    <a mat-list-item routerLink="/home/admin-franquias">Franquias</a>
                    <a mat-list-item routerLink="/home/admin-classes">Turmas</a>
                </mat-nav-list>
            </mat-expansion-panel>

        </mat-nav-list>

    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>
