mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.bg {
  width: 100%;
  height: 100%;
}
.container {
  padding-top: 10%;

}

mat-select {
  margin-top: 30px;
  margin-bottom: 30px;
}

mat-form-field {
  display: block;
}
button {
  background-color: transparent;
  box-shadow: none;
}
