h2 {
    padding-left: 10%;
}

.table{
    width: 100%;
    // margin: 15% auto;
}

.data-table {
    width: 50%;
    margin-left: 10%;
}

button {
    background-color: transparent;
    box-shadow: none;
}

.w-25 {
    width: 25px;
}

