h2 {
  padding-left: 15%;
}

.mat-form-field {
  padding-left: 15%;
}


.table{
  width: 100%;
  // margin: 15% auto;
}

.data-table {
  width: 30%;
  margin-left: 15%;
}

button {
  background-color: transparent;
  box-shadow: none;
}

.w-25 {
  width: 25px;
}

.mat-cell{
  font-size:14px;
  font-family: Verdana,Sans-Serif;
}

.centralize {
  text-align: center;
}

.mat-flat-button:hover {
  transform: scale(1.1);
}

.mat-flat-button {
  background-color: #FFD700;
  color: #000;
  margin-left: 15%;
  margin-top: 2%;
  transition: transform .4s;
}
