<div>
  <h1 mat-dialog-title>Adicionar Nova Multa</h1>
  <div mat-dialog-content >
    <div class="content">
      <form [formGroup]="formTicket" class="my-form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="legacy" class="col-lg-5">
          <mat-label>Estudante</mat-label>
          <mat-select formControlName="student" required [(ngModel)]="this.formTicket.value.student">
            <div *ngFor="let i of this.students">
              <mat-option [value]="i">{{i.name}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="col-lg-5">
          <mat-label>Quantidade</mat-label>
          <input matInput formControlName="count" required>
        </mat-form-field>
        <mat-form-field appearance="legacy" class="col-lg-5">
          <mat-label>Data da Multa</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div mat-dialog-actions class="buttons">
    <button mat-button (click)="onSubmit()" mat-flat-button color="warn">Salvar</button>
    <button mat-button (click)="closeDialog()">Cancelar</button>
  </div>

</div>

