<div class="bg" style="background-image: url('assets/bg.png');">
  <div class="container">
    <mat-card>
      <mat-card-content>
        <div class="container">
          <div class="vertical-center">
            <button mat-flat-button style="background-color: #FFD700;">Área do Aluno</button>
            <button  mat-flat-button style="background-color: #FFD700;" (click)="redirect()">Área de Funcionário</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!--<router-outlet></router-outlet>-->


