<div class="card">
  <h4>Adicionar Nova Turma</h4>
  <div class="content">
    <form [formGroup]="formClasses" class="my-form">
      <mat-form-field appearance="legacy" class="col-lg-5">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" required>
        <!--        <mat-error *ngIf="formEmployee.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>

      <mat-form-field appearance="legacy" class="col-lg-5">
        <mat-label>Turno</mat-label>
        <mat-select formControlName="shift">
          <mat-option value="Manhã">Manhã</mat-option>
          <mat-option value="Tarde">Tarde</mat-option>
          <mat-option value="Noite">Noite</mat-option>
        </mat-select>
        <!--        <mat-error *ngIf="formInstructor.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>

    </form>
    <div mat-dialog-actions class="buttons">
      <button mat-button (click)="onSubmit()" mat-flat-button color="warn" [class.spinner]="loading" [disabled]="loading">Salvar</button>
      <button mat-button (click)="closeDialog()">Cancelar</button>
    </div>
  </div>
</div>
