<!-- <div class="navbar">
    <a href="#">
        <img src="././assets/logo.svg" class="logo">
    </a>
</div>


<div class="sidenav">
    <button class="dropdown-btn">Módulo Prático
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a routerLink="/alunos-praticos">Alunos</a>
      <a routerLink="/tabela-pratica">Tabela Prática</a>
      <a routerLink="">Multas</a>
    </div>

    <button class="dropdown-btn">Módulo Teórico
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a routerLink="/alunos-teoricos">Alunos</a>
        <a routerLink="">Multas</a>
      </div>

      <button class="dropdown-btn">Módulo Instrutor
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a routerLink="">Instrutor Prático</a>
        <a routerLink="">Instrutor Teórico</a>
      </div>

      <button class="dropdown-btn" routerLink="turmas">Turmas
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
      </div>

      <button class="dropdown-btn">Administração
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a routerLink="/admin-alunos">Alunos</a>
        <a routerLink="/admin-instrutor">Instrutor</a>
        <a routerLink="/admin-franquias">Franquias</a>
        <a routerLink="/admin-funcionarios">Funcionários</a>
      </div>
  </div> -->

  <!-- <mat-sidenav-container class="example-container">
    <mat-sidenav mode = "side" opened>            
       <mat-toolbar color="accent">
          <span> Shop Smart </span>
       </mat-toolbar>
    </mat-sidenav>
    <mat-sidenav-content>
       <mat-toolbar color="warn"> Main Toolbar </mat-toolbar>
          <app-container></app-container>
       </mat-sidenav-content>
 </mat-sidenav-container> -->

  <router-outlet></router-outlet>